.nav{
  position: fixed; 
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #f1f1f1;
  z-index: 2;
  /* 요소가 겹치는 경우에 높은 것부터 보이게 됨. */
}

.nav__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__list .nav__btn:first-child{
/* first-child 쓰면 사람 아이콘만 선택됨. */
  margin-top: 50px;
}

.nav__list .nav__btn a{
  display: block;
  padding: 16px 0;
  color: black;
  text-align: center;
  text-decoration: none;
  /* 텍스트에 줄 같은 게 쳐지지 않게 하겠다 (a태그 니까) */
}

.nav__list .nav__btn a:not(.active){
  /* active 클래스가 아닌 a태그에서는 */
  color: #bdbdbd;
}

.nav__list .nav__btn a:not(.active):hover{
  /* active 클래스가 아닌 a태그에서는 */
  color: #555555;
}